{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="col-12">
    <h4>Reset Password</h4>
    <!--action = empty means you load back to the same url-->
    <form method="POST" action="">
    {{ form.csrf_token }}

    <div class="form-row">
        <div class="form-group col-lg-8">
            {{ form.password.label(class="form-control-label") }}
            {% for error in form.password.errors %}
                <span style="color: red;">[ {{ error }} ]</span>
            {% endfor %}
            {{ form.password(class="form-control") }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-lg-8">
            {{ form.password2.label(class="form-control-label") }}
            {% for error in form.password2.errors %}
                <span style="color: red;">[ {{ error }} ]</span>
            {% endfor %}
            {{ form.password2(class="form-control") }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-lg-8">
            {{ form.submit(class="btn btn-md btn-primary") }}
        </div>
    </div>
    </form>
</div>

{% endblock %}
