{% extends "base.html" %}

{% block content %}
<!-- This section displays read only form. It displays Agent and user details. It also displays system generated password "first name" +123-->
<div class="col-12">
    <h3>Reset Password</h3>

    <p>This is new system generated password.</p>
    <form action="{{ url_for('admin.submit_password') }}"  method="post">
        {{ form.csrf_token }}

        <div class="form-row">
            <div class="form-group col-lg-8">
                {{ form.userID.label }}
                {% for error in form.userID.errors %}
                    <span style="color: red;">[ {{ error }} ]</span><br/>
                {% endfor %}
                {{ form.userID(class="form-control",value=user.id, readOnly=true) }}
            </div>
        </div>

         <div class="form-row">
            <div class="form-group col-lg-8">
                {{ form.firstName.label }}
                {% for error in form.firstName.errors %}
                    <span style="color: red;">[ {{ error }} ]</span><br/>
                {% endfor %}
                {{ form.firstName(class="form-control",value=user.agent.first_name, readOnly=true) }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-lg-8">
                {{ form.lastName.label }}
                {% for error in form.lastName.errors %}
                    <span style="color: red;">[ {{ error }} ]</span><br/>
                {% endfor %}
                {{ form.lastName(class="form-control",value=user.agent.last_name, readOnly=true) }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-lg-8">
                {{ form.phone.label }}
                {% for error in form.phone.errors %}
                    <span style="color: red;">[ {{ error }} ]</span><br/>
                {% endfor %}
                {{ form.phone(class="form-control",value=user.agent.phone, readOnly=true) }}
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-lg-8">
                {{ form.agentID.label }}
                {% for error in form.agentID.errors %}
                    <span style="color: red;">[ {{ error }} ]</span><br/>
                {% endfor %}
                {{ form.agentID(class="form-control",value=user.agent_id, readOnly=true) }}
            </div>
        </div>

         <div class="form-row">
            <div class="form-group col-lg-8">
                {{ form.agencyName.label }}
                {% for error in form.agencyName.errors %}
                    <span style="color: red;">[ {{ error }} ]</span><br/>
                {% endfor %}
                {{ form.agencyName(class="form-control",value=user.agent.agency_name, readOnly=true) }}
            </div>
        </div>

         <div class="form-row">
            <div class="form-group col-lg-8">
                {{ form.email.label }}
                {% for error in form.email.errors %}
                    <span style="color: red;">[ {{ error }} ]</span><br/>
                {% endfor %}
                {{ form.email(class="form-control",value=user.email, readOnly=true) }}
            </div>
        </div>


         <div class="form-row">
            <div class="form-group col-lg-8">
                {{ form.roleName.label }}
                {% for error in form.roleName.errors %}
                    <span style="color: red;">[ {{ error }} ]</span><br/>
                {% endfor %}
                {{ form.roleName(class="form-control",value=user.role.name, readOnly=true) }}
            </div>
        </div>

        <style>
        input:read-only {
          background-color: yellow;
        }

        .bk-color-yellow {
          background-color: yellow;
        }
        </style>

        <div class="form-row">
            <div class="form-group col-lg-8">
                {{ form.newResetPassword.label }}
                {% for error in form.newResetPassword.errors %}
                    <span style="color: red;">[ {{ error }} ]</span><br/>
                {% endfor %}
                {{ form.newResetPassword(class="form-control",style="background-color: yellow", value=newPassword, readOnly=true) }}
                <small>This is system generated password. It is first name of the User followed by 123.It is in lowercase.</small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-lg-8">
                {{ form.submit(class="btn btn-md btn-primary") }}
            </div>
        </div>
    </form>

</div>
{% endblock %}